<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="resources/scripts/clipboard.min.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Olbin publications</a></li>
                            <li><a href="jmmc.html">Jmmc publications</a></li>
                            <li><a href="others.html">Other sources</a></li>
                            <li role="separator" class="divider"/>
                            <li><a href="new-candidates.html">New Candidates (long process)</a></li>
                            <li><a href="last-submissions.html">Last submissions</a></li>
                            <li><a href="tag-inconsistency.html">Tag curation</a></li>
                            <!-- <li><a href="blocklist.html">Publication's Blocklist</a></li>-->

                        </ul>
                    </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin/restricted area <span class="glyphicon glyphicon-lock" aria-hidden="true"/> <b class="caret"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://publications.olbin.org/addPub.php">Add articles</a>
                            </li>
                            <li>
                                <a href="https://publications.olbin.org/delPub.php">Delete article</a>
                            </li>
                            <li>
                                <a href="https://publications.olbin.org/updatePubs.php">Tag articles</a>
                            </li>
                            <li>
                                <a href="https://publications.olbin.org/manageTags.php">Manage Tags</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" data-template="jmmc-auth:signInMenu">Filled programatically</li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div id="content" class="col-md-12"/>
            </div>
        </div>

        <footer>
            <div class="poweredby">
                <a href="http://exist-db.org">
                    <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db"/>
                </a>
                <a href="https://github.com/adsabs/adsabs-dev-api">
                    <img src="https://ui.adsabs.harvard.edu/styles/img/transparent_logo.svg" alt="Powered by ADS API"/>
                </a>
                <a href="https://www.jmmc.fr">
                    <img src="https://www.jmmc.fr/IMG/siteon0.png?1568820294" alt="Powered by JMMC"/>
                </a>
            </div>
        </footer>

        <script type="text/javascript">
            $(document).ready(function() {
                $("[rel='tooltip']").tooltip();
                $("[data-toggle='popover']").popover();
                new ClipboardJS('.clippy');
            });
        </script>

    </body>
</html>
